<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>Edit Wiki</h1>

<!-- #1 -->
      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
<!-- #2 -->
          <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Body</label>
<!-- #3 -->
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        
      </form>
      <% if(currentUser.id == wiki.userId) { %>
        <% if(currentUser.role == 1 || currentUser.role == 2) { %>
          
            <form action="/wikis/<%= wiki.id %>/togglePrivacy" method="post">
              <button type="submit" class="btn btn-primary">
                <% if(wiki.private == true) { %>
                  Make Public
                <% } else { %>
                  Make Private
                <% } %>
              </button>
            </form> 
        <% } %>
      <% } %>
      <% if(currentUser.role == 2 || currentUser.role == 1) { %>
        
          <h2> Collaborators <h2>
           
           <% if(wiki.collaborators) { %>
             <ul class ="list-group">
             <% wiki.collaborators.forEach((collaborator) => { console.log(collaborator);  %>
               <li class="list-group-item">
                 <form action="/wikis/<%= wiki.id %>/collaborators/remove" method="post">
                   <button type="submit" class="btn btn-danger">Remove</button>
                   <%= collaborator.User.username %>
                   <input type="hidden" value="<%= collaborator.User.username %>" class="form-control" name="collaborator" >
                 </form>
               </li>
             <% }) %>
             </ul>
           <% } %>
          
          <form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
            <div class="input-group">            
              <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        <% } %>

    </main>

  </body>
</html>